@import '/src/variables/_colors.scss';
@import '../../app.scss';
.slidingTextContainer {
  position: absolute;
  font-size: 35vh;
  top: 0;
  left: 0;
  white-space: nowrap;
  color: $text-transparent;
  width: 50%;
  font-weight: bold;

  @include mobile {
    font-size: 300px;
    bottom: -60px;
  }
}

.vertical-timeline {
  padding-block: 70px;
  width: 60%;
}

.vertical-timeline-element {
  width: 97%;
}