$background-color: #0c0c1d;
$background-secondary-color: #e8e8e8;
$background-gradient: linear-gradient(180deg, #0c0c1d, #111132);
$background-gradient-secondary: linear-gradient(180deg, #111132, #505064);

$text-primary-color: lightgray;
$text-secondary-color: #131313;
$text-transparent: rgba(255, 255, 255, 0.02);

$accent-color1: rebeccapurple;
