@import "../../app.scss";
@import 'src/variables/_colors.scss';

.portfolio {
  position: relative;
  background: url("/games.svg");
  background-repeat: repeat;
  background-size: 600px;



  .progress {
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    padding-block: 50px;
    text-align: center;
    color: $accent-color2;
    font-size: 36px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, #0c0c1d 70%, rgba(12, 12, 29, 0) 100%);
      pointer-events: none;
      z-index: -1;
    }


    @include mobile {
      font-size: 24px;
      position: static;


    }

    .progressBar {
      margin-top: 13px;
      height: 5px;
      background-color: $text-primary-color;

      @include mobile {
        width: 340px;
        margin: 0 auto;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;



    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;


      @include mobile {
        flex-direction: column;
        gap: 70px;
      }

      .imageContainer {
        flex: 1;
        height: 50%;

        @include mobile {
          width: 85%;
          max-height: 300px;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 50px;
          object-fit: cover;
          box-shadow: -14px 18px 49px 38px rgba(65,196,196,0.14);

          @include mobile {

            border-radius: 50px;
            box-shadow: -30px 80px 70px 38px rgba(65,196,196,0.14);
          }
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include mobile {
          transform: none !important;
          padding: 10px;
          align-items: center;
          text-align: center;
          width: 90%;
          gap: 60px;
        }

        h2 {
          font-size: 72px;

          @include mobile {
            font-size: 36px;
          }
        }

        p {
          color: gray;
          font-size: 20px;

          @include mobile {
            font-size: 16px;
          }
        }

        a {
          border: none;
          border-radius: 10px;
          padding: 20px;
          width: 400px;
          height: 60px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          @include mobile {
            width: 350px;
            height: 90px;
            border-radius: 30px;
          }

          p {
            color: $background-color;
            font-size: 22px;
            font-weight: 700;
          }
        }
      }
    }
  }
}


//@-webkit-keyframes glowYellow {
//  from {
//    text-shadow: 0 0 10px rgba(255, 179, 0, 0.05), 0 0 20px rgba(255, 179, 0, 0.08), 0 0 30px rgba(255, 179, 0, 0.1), 0 0 40px rgba(255, 179, 0, 0.12), 0 0 50px rgba(255, 179, 0, 0.15), 0 0 60px rgba(255, 179, 0, 0.18), 0 0 70px rgba(255, 179, 0, 0.2);
//  }
//  to {
//    text-shadow: 0 0 20px rgba(255, 179, 0, 0.08), 0 0 30px rgba(255, 179, 0, 0.1), 0 0 40px rgba(255, 179, 0, 0.12), 0 0 50px rgba(255, 179, 0, 0.15), 0 0 60px rgba(255, 179, 0, 0.18), 0 0 70px rgba(255, 179, 0, 0.2), 0 0 80px rgba(255, 179, 0, 0.22);
//  }
//}
