@import 'variables/_colors.scss';

html {

  @media (max-width: 738px) {
    overflow-x: hidden;
    scroll-snap-type: none;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

body {
  //overflow: hidden;
  background-color: $background-color;
  color: $text-primary-color;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
}

.workExperience {
  height: auto;
  background: $background-gradient;
}


.technologies {
  position: relative;
  background: radial-gradient(
    circle,
    rgba(14, 0, 68, 1) 0%,
    rgba(12, 12, 29, 1) 100%
  );
}

.titleOverlay {
  font-size: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  text-align: center;

  @media (max-width: 1520px) {
    font-size: 100px;
  }

  @media (max-width: 738px) {
    font-size: 41px;
    @media (-webkit-min-device-pixel-ratio: 2) {
      font-size: 71px;
    }
    left: 50%;
    top: calc(50% - calc(53px / 2));
    transform: translateX(-50%);

    min-width: 80vw;
  }
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin mdscreen {
  @media (max-width: 1520px) {
    @content;
  }
}
